.DS_Store
node_modules
/Ecdar-Common
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.eslintrc.cjs
svelte.config.js
prettier.config.js
playwright.config.ts
/src/lib/protobuf
/Ecdar-ProtoBuf

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
