.DS_Store
node_modules
/build
/Ecdar-ProtoBuf/
/src/lib/proto/
/.svelte-kit
/package
.env
.env.*
!.env.example
compile-protobuffers.js

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
